.brand-font {
  font-family: 'Architects Daughter', cursive;
}

.py-icon {
  color: #4B8BBE;
}

.js-icon {
  color: #f0db4f;
}

.aws-icon {
  color: #FF9900;
}

.bs-icon {
  color: #583E80;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}